@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: radial-gradient(circle at top, #1f3232, #041515);
  background-attachment: fixed;
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 90vw;
  min-height: 100vh;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 900px) {
  .pageWrapper {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .pageWrapper {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}
